@model GuanajuatoAdminUsuarios.Models.SeleccionGruaModel
<script>
    function validacionHoraArribo(event) {
        var horaIngresada = event.target.value;

        // Permitir números del 0 al 9 y teclas especiales como borrar y arrow keys
        if ((isNaN(parseInt(horaIngresada.charAt(horaIngresada.length - 1))) || parseInt(horaIngresada.charAt(horaIngresada.length - 1)) > 9) && !["Backspace", "Delete", "ArrowLeft", "ArrowRight"].includes(event.inputType)) {
            event.preventDefault();
            return;
        }

        // Verificar si ya hay cinco dígitos ingresados o si se intenta borrar
        if (horaIngresada.length >= 5 && !["Backspace", "Delete"].includes(event.inputType)) {
            event.preventDefault();
            setTimeout(validarFechaArribo, 0); // Llama a validarFecha después de que el valor del campo se haya actualizado
            return;
        }

        // Agregar ":" después de ingresar los dos primeros dígitos
        if (horaIngresada.length === 2 && !["Backspace", "Delete"].includes(event.inputType)) {
            event.target.value += ":";
        }
    }



    function validarFechaArribo() {
        // Obtener la fecha actual
        var fechaActual = new Date();
        var fechaParseo = new Date(parseInt(fechaActual.getFullYear()), parseInt(fechaActual.getMonth()), parseInt(fechaActual.getDate()));


        var fechaSeleccionadaString = $("#fechaArriboInsert").val();
        var splitFechaSeleccion = fechaSeleccionadaString.split('/')
        var objetoFecha = new Date(parseInt(splitFechaSeleccion[2]), parseInt(splitFechaSeleccion[1]) - 1, parseInt(splitFechaSeleccion[0]));
        console.log("objetoFecha:", objetoFecha)
        console.log("fechaParseo:", fechaParseo)
        // Comparar la fecha seleccionada con la fecha actual
        if (fechaParseo.getTime() === objetoFecha.getTime()) {
            // Si la fecha seleccionada es la fecha actual, verificar la hora ingresada
            console.log("SI Entra")
            var horaIngresada = $("#horaArriboInsert").val();
            var horaActual = fechaActual.getHours() * 60 + fechaActual.getMinutes();
            var horaIngresadaSplit = horaIngresada.split(':');
            var horaIngresadaEnMinutos = parseInt(horaIngresadaSplit[0]) * 60 + parseInt(horaIngresadaSplit[1]);
            console.log("horaIngresada", horaIngresada)
            console.log("horaActual", horaActual)
            console.log("horaSplit", horaIngresadaSplit)

            console.log("horaIngresadaEnMinutos", horaIngresadaEnMinutos)

            if (horaIngresadaEnMinutos > horaActual) {

                $("#horaArriboInsert").val('');
                event.preventDefault();
            }
        }
    }

     function validacionHoraInicio(event) {
        var horaIngresada = event.target.value;

        // Permitir números del 0 al 9 y teclas especiales como borrar y arrow keys
        if ((isNaN(parseInt(horaIngresada.charAt(horaIngresada.length - 1))) || parseInt(horaIngresada.charAt(horaIngresada.length - 1)) > 9) && !["Backspace", "Delete", "ArrowLeft", "ArrowRight"].includes(event.inputType)) {
            event.preventDefault();
            return;
        }

        // Verificar si ya hay cinco dígitos ingresados o si se intenta borrar
        if (horaIngresada.length >= 5 && !["Backspace", "Delete"].includes(event.inputType)) {
            event.preventDefault();
            setTimeout(validarFechaInicio, 0); // Llama a validarFecha después de que el valor del campo se haya actualizado
            return;
        }

        // Agregar ":" después de ingresar los dos primeros dígitos
        if (horaIngresada.length === 2 && !["Backspace", "Delete"].includes(event.inputType)) {
            event.target.value += ":";
        }
    }



    function validarFechaInicio() {
        // Obtener la fecha actual
        var fechaActual = new Date();
        var fechaParseo = new Date(parseInt(fechaActual.getFullYear()), parseInt(fechaActual.getMonth()), parseInt(fechaActual.getDate()));


        var fechaSeleccionadaString = $("#fechaInicioInsert").val();
        var splitFechaSeleccion = fechaSeleccionadaString.split('/')
        var objetoFecha = new Date(parseInt(splitFechaSeleccion[2]), parseInt(splitFechaSeleccion[1]) - 1, parseInt(splitFechaSeleccion[0]));
        console.log("objetoFecha:", objetoFecha)
        console.log("fechaParseo:", fechaParseo)
        // Comparar la fecha seleccionada con la fecha actual
        if (fechaParseo.getTime() === objetoFecha.getTime()) {
            // Si la fecha seleccionada es la fecha actual, verificar la hora ingresada
            console.log("SI Entra")
            var horaIngresada = $("#horaInicioInsert").val();
            var horaActual = fechaActual.getHours() * 60 + fechaActual.getMinutes();
            var horaIngresadaSplit = horaIngresada.split(':');
            var horaIngresadaEnMinutos = parseInt(horaIngresadaSplit[0]) * 60 + parseInt(horaIngresadaSplit[1]);
            console.log("horaIngresada", horaIngresada)
            console.log("horaActual", horaActual)
            console.log("horaSplit", horaIngresadaSplit)

            console.log("horaIngresadaEnMinutos", horaIngresadaEnMinutos)

            if (horaIngresadaEnMinutos > horaActual) {

                $("#horaInicioInsert").val('');
                event.preventDefault();
            }
        }
    }

    function validacionHoraFin(event) {
        var horaIngresada = event.target.value;

        // Permitir números del 0 al 9 y teclas especiales como borrar y arrow keys
        if ((isNaN(parseInt(horaIngresada.charAt(horaIngresada.length - 1))) || parseInt(horaIngresada.charAt(horaIngresada.length - 1)) > 9) && !["Backspace", "Delete", "ArrowLeft", "ArrowRight"].includes(event.inputType)) {
            event.preventDefault();
            return;
        }

        // Verificar si ya hay cinco dígitos ingresados o si se intenta borrar
        if (horaIngresada.length >= 5 && !["Backspace", "Delete"].includes(event.inputType)) {
            event.preventDefault();
            setTimeout(validarFechaFin, 0); // Llama a validarFecha después de que el valor del campo se haya actualizado
            return;
        }

        // Agregar ":" después de ingresar los dos primeros dígitos
        if (horaIngresada.length === 2 && !["Backspace", "Delete"].includes(event.inputType)) {
            event.target.value += ":";
        }
    }



    function validarFechaFin() {
        // Obtener la fecha actual
        var fechaActual = new Date();
        var fechaParseo = new Date(parseInt(fechaActual.getFullYear()), parseInt(fechaActual.getMonth()), parseInt(fechaActual.getDate()));


        var fechaSeleccionadaString = $("#fechaFinalInsert").val();
        var splitFechaSeleccion = fechaSeleccionadaString.split('/')
        var objetoFecha = new Date(parseInt(splitFechaSeleccion[2]), parseInt(splitFechaSeleccion[1]) - 1, parseInt(splitFechaSeleccion[0]));
        console.log("objetoFecha:", objetoFecha)
        console.log("fechaParseo:", fechaParseo)
        // Comparar la fecha seleccionada con la fecha actual
        if (fechaParseo.getTime() === objetoFecha.getTime()) {
            // Si la fecha seleccionada es la fecha actual, verificar la hora ingresada
            console.log("SI Entra")
            var horaIngresada = $("#horaTerminoInsert").val();
            var horaActual = fechaActual.getHours() * 60 + fechaActual.getMinutes();
            var horaIngresadaSplit = horaIngresada.split(':');
            var horaIngresadaEnMinutos = parseInt(horaIngresadaSplit[0]) * 60 + parseInt(horaIngresadaSplit[1]);
            console.log("horaIngresada", horaIngresada)
            console.log("horaActual", horaActual)
            console.log("horaSplit", horaIngresadaSplit)

            console.log("horaIngresadaEnMinutos", horaIngresadaEnMinutos)

            if (horaIngresadaEnMinutos > horaActual) {

                $("#horaTerminoInsert").val('');
                event.preventDefault();
            }
        }
    }

</script>
<div class="modal-dialog modal-xl boxShadow modal-dialog-centered">
    <div class="modal-content">
        <section class=" bg-white rounded">
            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                <div class="col-12 col-md-auto">
                    <div class="row align-items-center justify-content-center justify-content-md-start">
                        <div class="col-auto p-0">
                            <i class="icon-addGrua me-2  h1 colorPrimary"></i>
                        </div>
                        <div class="col-auto my-3">
                            <h2 class="m-0 h3"><b>Datos de Grúa Asignada</b></h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                    <div class="row">
                        <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0" onclick="goBack()">
                            @(Html.Kendo().Button()
                                .Name("backVehiculo")
                                .HtmlAttributes(new { @class = "px-5" })
                                .Content("<h6 class=\"m-0\"><i class=\"icon-back me-2\" data-bs-dismiss=\"modal\" aria - label = \"Close\" ></i><b>Regresar</b></h6>"))
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5 pe-0">
                    <div class="bgSuccess py-1"></div>
                </div>
                <div class="col-7 ps-0">
                    <div class="bg-light py-1"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 my-4">
                    <h5 class="px-4"><b>Datos de grúa asignada</b></h5>
                    <h6 class="px-4 text-muted">Completa los datos obligatorios para guardar.</h6>
                </div>
            </div>
            <div class="row justify-content-start align-items-center py-2">
               
            </div>
            <form id="datosGruaForm">
                <input type="hidden" id="Accion" value="Add" />
                <div class="row px-4" id="contenedor">
                    <div class="col-12">
                        <div class="controlForm my-3">
                            <label for="ddgrua">Número económico <b>(obligatorio)</b>:</label>
                            @(Html.Kendo().DropDownListFor(d => d.idGrua)
                                .DataTextField("Text")
                                .DataValueField("Value")
                           
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("Gruas_Drop", "AsignacionGruas");
                                    });
                                })
                                .HtmlAttributes(new { style = "width:100%;", id = "idGruaInsert", required = "required" })
                                )
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            <label for="datepicker1">Fecha de arribo <b>(obligatorio)</b>:</label>
                            @(Html.Kendo().DatePickerFor(t => t.fechaArribo).Max(DateTime.Now)
                                .Format("dd/MM/yyyy")
                                .Events(e =>
                                {
                                    e.Change("validarFechaArribo");
                                })
                                .HtmlAttributes(new { style = "width: 90%", id = "fechaArriboInsert", required = "required" })
                                )
                        </div>
                        </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3" style="height:60px">

                       @* <div class="controlForm my-3">
                            <label for="timepicker1">Hora de arribo <b>(obligatorio)</b>:</label>
                            @(Html.Kendo().TimePickerFor(t => t.horaArribo).Interval(1)
                                .Format("HH:mm")
                                .Events(e =>
                                {
                                    e.Change("validacionHoraArribo");
                                })
                                .HtmlAttributes(new { style = "width: 90%", id = "horaArriboInsert", required = "required" })
                                )
                        </div>*@
											<label class="tex">Hora(Formato 24 horas):</label>
                        <input type="text" id="horaArriboInsert" name="horaArriboInsertStr" oninput="validacionHoraArribo(event)" step="60" />
                    </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            <label for="datepicker2">Fecha de inicio <b>(obligatorio)</b>:</label>
                            @(Html.Kendo().DatePickerFor(t => t.fechaInicio).Max(DateTime.Now)
                                .Format("dd/MM/yyyy")
                                 .Events(e =>
											{
                                    e.Change("validarFechaInicio");
											})
                                .HtmlAttributes(new { style = "width: 90%", id = "fechaInicioInsert", required = "required" })
                                )
                        </div>
                    </div>
                     <div class="col-12 col-md-6 col-lg-3">
                                    <div class="controlForm my-3"  style="height:60px">
                       @* <div class="controlForm my-3">
                            <label for="timepicker2">Hora de inicio <b>(obligatorio)</b>:</label>
                            @(Html.Kendo().TimePickerFor(t => t.horaInicio).Interval(1)
                                .Events(e =>
                                {
                                    e.Change("validacionHoraInicio");
                                })
                                .Format("HH:mm")
                                .HtmlAttributes(new { style = "width: 90%", id = "horaInicioInsert",required = "required" })
                              
                                )
                        </div>*@
                            <label class="tex">Hora(Formato 24 horas):</label>
                        <input type="text" id="horaInicioInsert" name="horaInicioInsertStr" oninput="validacionHoraInicio(event)" step="60" />
                    </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            <label for="datepicker3">Fecha de término <b>(obligatorio)</b>:</label>
                            @(Html.Kendo().DatePickerFor(t => t.fechaFinal).Max(DateTime.Now)
                                .Format("dd/MM/yyyy")
                                .HtmlAttributes(new { style = "width: 90%", id = "fechaFinalInsert", required = "required" })
                                .Events(e =>
                                {
                                    e.Change("validarFechaFin");
                                })
                                )
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                                                <div class="controlForm my-3" style="height:60px">
                       @* <div class="controlForm my-3">
                            <label for="timepicker3">Hora de término <b>(obligatorio)</b>:</label>
                            @(Html.Kendo().TimePickerFor(t => t.horaTermino).Interval(1)
                                .Format("HH:mm")
                                .Events(e =>
                                {
                                    e.Change("validacionHoraFinal");
                                })
                                .HtmlAttributes(new { style = "width: 90%", id = "horaTerminoInsert",required = "required" })
                             
                                )
                        </div>*@

                            <label class="tex">Hora(Formato 24 horas):</label>
                            <input type="text" id="horaTerminoInsert" name="horaFinInsertStr" oninput="validacionHoraFin(event)" step="60" />
                    </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            <label for="timeDifference">Diferencia en minutos <b>(obligatorio)</b>:</label>
                            @(Html.Kendo().TextBoxFor(t => t.tiempoManiobras)
                                .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly", id="tiempoManiobrasInsert" }) // Marcar como solo lectura
                                )
                        </div>
                    </div>
                    <div class="row px-4" id="contenedor">
                        <!-- Otras columnas aquí -->

                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="controlForm my-3">
                                        <label for="switch2">Abanderamineto:</label>
                                        <div class="btnToggleActive">
                                            @(Html.Kendo().SwitchFor(t => t.AbanderamientoBool)
                                                .Name("abanderamientoSwitch1")
                                                .Checked(false)
                                                .Messages(c => c.Checked("Si").Unchecked("No"))
                                                .HtmlAttributes(new { data_checked = "true" })
                                                )
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="controlForm my-3">
                                        <label for="switch2">Salvamento:</label>
                                        <div class="btnToggleActive">
                                            @(Html.Kendo().SwitchFor(t => t.SalvamentoBool)
                                                .Name("salvamentoSwitch1")
                                                .Checked(false)
                                                .Messages(c => c.Checked("Si").Unchecked("No"))
                                                .HtmlAttributes(new { data_valor = "true" })
                                                )
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="controlForm my-3">
                                        <label for="switch3">Arrastre:</label>
                                        <div class="btnToggleActive">
                                            @(Html.Kendo().SwitchFor(t => t.ArrastreBool)
                                                .Name("arrastreSwitch1")
                                                .Checked(false)
                                                .Messages(c => c.Checked("Si").Unchecked("No"))
                                                .HtmlAttributes(new { data_checked = "true" })
                                                )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Otras columnas aquí -->
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.operadorGrua)
                                .Label(label => label.Content("Operador de la grúa <b>(obligatorio)</b>:"))
                                .Placeholder("Escribe el operador de la grúa")
                                .HtmlAttributes(new { style = "width: 100%", required = "required", id="operadorGruaInsert" })
                                )
                        </div>
                    </div>
                </div>

            </form>
            <!-- Botones -->
            <div class="row my-4">
                <div class="col-12 col-md-6 mx-md-auto">
                    <div class="row justify-content-around">
                        <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                            <button type="button" data-bs-dismiss="modal" aria-label="Close">
                                <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                            </button>
                        </div>
                        <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                            <div class="controlButton" onclick="enviarDatos()">
                                @(Html.Kendo().Button()
                                    .Name("AddFactor")
                                    .HtmlAttributes(new { @class = "btnPrimary px-3" })
                                    .Content("<h5 class=\"m-0\"><b>Guardar</b></h5>"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script>
function enviarDatos() {
    var validator = $("#datosGruaForm").kendoValidator().data('kendoValidator');
    validator.validate();
    if (validator.validate()) {
        var formData = new FormData($("#datosGruaForm")[0]);
        var formData2 = $("#datosGruaForm");
        var Mydata = $("#datosGruaForm").serialize();


        var abanderamientoValue = $("#abanderamientoSwitch1").prop("checked") ? 1 : 0;
        var arrastreValue = $("#arrastreSwitch1").prop("checked") ? 1 : 0;
        var salvamentoValue = $("#salvamentoSwitch1").prop("checked") ? 1 : 0;

        formData.append("abanderamiento", abanderamientoValue);
        formData.append("arrastre", arrastreValue);
            formData.append("salvamento", salvamentoValue);

            formData.append("horaInicioInsert", $("#horaInicioInsert").val());
            formData.append("horaArriboInsert", $("#horaArriboInsert").val());
            formData.append("horaTerminoInsert", $("#horaTerminoInsert").val());


        console.log("formData:", formData);
            showLoading();
        $.ajax({
                url: '/AsignacionGruas/InsertarDatos',
            type: 'POST',
                data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                sitteg_success("Se ha actualizado la información");
                $('#modalAgregarGrua').modal('hide');
                var grid = $("#gridGruas").data("kendoGrid");
                grid.dataSource.data(data);
                grid.refresh();
                    hideLoading();
            },
            error: function (error) {
                sitteg_warning("!Sucedió un error, inténtalo de nuevo más tarde...");
                hideLoading();
            }
        });
    } else {
        sitteg_info('Debe llenar los campos requeridos');
        return;
    }
}

    function updateDifference() {
        var fechaInicioPicker = $("#fechaInicioInsert").data("kendoDatePicker");
        var fechaFinalPicker = $("#fechaFinalInsert").data("kendoDatePicker");
        var horaInicioString = $("#horaInicioInsert").val();
        var horaTerminoString = $("#horaTerminoInsert").val();
        console.log("HORAINICIO",horaInicioString)
        console.log("HORAFIN", horaTerminoString)

        // Verificar si los pickers de fecha están inicializados
        if (fechaInicioPicker && fechaFinalPicker && horaInicioString && horaTerminoString) {
            var fechaInicio = fechaInicioPicker.value();
            var fechaFinal = fechaFinalPicker.value();

            var horaInicioParts = horaInicioString.split(':');
            var horaInicioHour = parseInt(horaInicioParts[0]);
            var horaInicioMinute = parseInt(horaInicioParts[1]);
             console.log("HORAINH", horaInicioHour)
            console.log("HORAINMIN", horaInicioMinute)
            var horaTerminoParts = horaTerminoString.split(':');
            var horaTerminoHour = parseInt(horaTerminoParts[0]);
            var horaTerminoMinute = parseInt(horaTerminoParts[1]);
            console.log("HORTERHO", horaTerminoHour)
            console.log("HORTERMIN", horaTerminoMinute)
            // Verificar si las fechas no son null
            if (fechaInicio !== null && fechaFinal !== null) {
                // Crear objetos de fecha con las fechas seleccionadas y las horas obtenidas
                var startDateTime = new Date(fechaInicio.getFullYear(), fechaInicio.getMonth(), fechaInicio.getDate(), horaInicioHour, horaInicioMinute);
                var endDateTime = new Date(fechaFinal.getFullYear(), fechaFinal.getMonth(), fechaFinal.getDate(), horaTerminoHour, horaTerminoMinute);

                // Calcular la diferencia en milisegundos
                var timeDifferenceMilliseconds = Math.abs(endDateTime - startDateTime);

                // Convertir la diferencia a minutos
                var timeDifferenceMinutes = Math.round(timeDifferenceMilliseconds / 60000);
                            console.log("TIMEDIFf", timeDifferenceMinutes)

                if (isNaN(timeDifferenceMinutes)) {
                    timeDifferenceMinutes = 0;
                }

                $("#tiempoManiobrasInsert").val(timeDifferenceMinutes);
            } else {
                // Si alguna de las fechas es null, establecer el valor de tiempo en 0
                $("#tiempoManiobrasInsert").val(0);
            }
        }
    }


    // Llamar a la función cuando cambie alguna de las fechas o horas
    $("input[name='horaInicioInsertStr'], input[name='horaFinInsertStr'], #fechaInicioInsert, #fechaFinalInsert").on("change", function () {
        updateDifference();
    });

    // Inicializar la diferencia al cargar la página
    $(document).ready(function () {
        updateDifference();
    });

    function goBack() {
        
        $('#modalAgregarGrua').modal('hide');
        $('#ModalBodyEditarGrua').modal('');
    }

  
</script>

